@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iniciar Sesión como Fotógrafo</title>
    <link rel="stylesheet" href="~/css/Home css/home.css">
</head>
<body>
    <div class="contenedor-form">
        <form id="Fotografo" action="@Url.Action("LoginFotografo", "Home")" method="POST">
            <div class="header">
                <a class="selected" data-user-type="Fotografo">FOTOGRAFO</a><br>
            </div>
            <hr>
            @if (ViewData["Error"] != null)
            {
                <p class="error">
                    @ViewData["Error"]
                </p>
            }
            <div class="fila">
                <label for="username">Nombre de Fotógrafo</label>
                <input type="text" id="username" name="username">
            </div>
            <div class="fila">
                <label for="password">Contraseña</label>
                <input type="password" id="password" name="password">
            </div>
            <div class="fila">
                <br><br>
                <input type="checkbox" class="check" id="mantener-sesion" name="mantenerSesion">
                <label for="mantener-sesion">Mantener Sesión</label>
            </div>
            <input type="submit" value="Iniciar Sesión" class="btn">
        </form>
        <p>¿Quieres iniciar sesión como <a href="@Url.Action("InicioUsuario", "Home")">Usuario</a> o <a href="@Url.Action("InicioAdministrador", "Home")">Administrador</a>?</p><br><br>
        <a href="./recuperar.php" class="olvido">Olvidó la Contraseña</a>
    </div>
</body>
</html>

